.place-page {
    /* font-family: "Arial", sans-serif; */
    line-height: 1.6;
  }
  
  .place-page ul {
    padding: 0;
    list-style-type: none;
  }
  
  .place-page li {
    margin-bottom: 10px;
  }
  
  .place-page img {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  